name: XY-RDP Ultimate (Banner & Secure)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

concurrency:
  group: rdp-session
  cancel-in-progress: true

jobs:
  secure-rdp:
    runs-on: windows-latest
    steps:
      - name: Create XY-Environment
        run: |
          # Buat Folder Kerja
          $paths = "C:\XYTOOLS\Coding", "C:\XYTOOLS\Santuy", "C:\XYTOOLS\ScreenShot", "C:\XYTOOLS\Recording"
          $paths | ForEach-Object { New-Item -Path $_ -ItemType Directory -Force }

      - name: Configure System & Welcome Banner
        run: |
          # Aktifkan RDP
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          
          # Sambutan ala Windows Professional
          $title = "XY-SYSTEM | AUTHENTICATED ACCESS"
          $msg = "Welcome Back, Haekal!`n`nSystem: XY-RDP Server`nBrand: XY Project`nCopyright: PoweredBy Kall & XyTeam.`n`nEnjoy your session!"
          Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "legalnoticecaption" -Value $title
          Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "legalnoticetext" -Value $msg

      - name: Create User from Secret
        run: |
          $pass = "${{ secrets.RDP_PASSWORD }}"
          if (-not $pass) { $pass = "DefaultXY123!" } # Backup jika secret lupa diisi
          $securePass = ConvertTo-SecureString $pass -AsPlainText -Force
          New-LocalUser -Name "XY_User" -Password $securePass -AccountNeverExpires -Force
          Add-LocalGroupMember -Group "Administrators" -Member "XY_User"
          echo "XY_PWD=$pass" >> $env:GITHUB_ENV

      - name: Install Tools & Tailscale
        run: |
          # Install Tailscale & Apps
          Set-ExecutionPolicy Bypass -Scope Process -Force
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
          choco install tailscale vscode vlc sharex -y --no-progress
          
          # Connect Tailscale
          & "$env:ProgramFiles\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=XY-SERVER
          $tsIP = & "$env:ProgramFiles\Tailscale\tailscale.exe" ip -4
          echo "TAILSCALE_IP=$tsIP" >> $env:GITHUB_ENV

      - name: Loop & Status
        run: |
          Write-Host "XY-RDP AKTIF! IP: $env:TAILSCALE_IP | User: XY_User"
          $startTime = Get-Date
          while ($true) {
              $elapsed = (Get-Date) - $startTime
              if ($elapsed.TotalMinutes -gt 350) { exit 0 }
              Write-Host "Sesi XY Berjalan: $($elapsed.ToString('hh\:mm\:ss'))"
              Start-Sleep -Seconds 300
          }
